.astro
node_modules
.env.example
.env.production
.env.development
.env
.husky
.github
.dockerignore
.Dockerfile
.Dockerfile.dev
.editorconfig
.eslint.config.js
.prettierrc.mjs
.prettierignore
.vscode
.gitignore
.git
.DS_Store
.DS_Store?
._*
.Spotlight-V100