---
interface Props {
  question: string;
  answer: string;
  defaultOpen?: boolean;
}

const { question, answer, defaultOpen = false } = Astro.props;
---

<div
  class="collapse-plus border-base-content/20 bg-base-100 hover:border-primary/40 collapse rounded-lg border-2 transition-all duration-300"
>
  <input type="checkbox" checked={defaultOpen} />
  <div class="collapse-title text-base-content text-lg font-bold">
    {question}
  </div>
  <div class="collapse-content text-base-content/80">
    <p class="leading-relaxed">{answer}</p>
  </div>
</div>
